@import './config.css';

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .dropdown-menu {
    position: absolute;
  }
}

* , ::before, ::after {
    margin:  0 .1rem 0 .1rem;
    font-family: var(--font-family);
    box-sizing: border-box;

}
h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}
#welcomeHeader{
    text-align: center;
    margin: 40px 0 10px 0;
}

#align-text-top { 
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:20px;
    width: 50%;
}

.navbar-brand, .navbar-brand img{
    display: inline-block;
    margin-right:1rem;
    line-height: inherit;
    white-space: nowrap;
    padding-top: .5rem;
    background-color: inherit;
}
.navbar-nav, .nav-link, .nav-link>a, .nav-item.active, .nav-item.active>a, .navbar-brand>img, .navbar-brand{
    color: white;
}
.navbar-nav{
    display: flex;
    justify-content: flex-start;
    padding: 10px 0;
}
.nav-link {
    display: block;
    padding: .5rem 1rem;
}
.nav-link > a{
    text-decoration: none;
}
.nav-item.active{
    display: block;
    padding: .5rem 1rem;
}
.nav-item.active > a{
    text-decoration: none;
}
.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 3em;
    text-transform: bold;
}
.top{
    text-align: center;
}

.box {
  background-color: white;
  color: black;
  max-width: 600px;
  margin: 0 auto;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
}

.box h3 {
    border-bottom: 2px solid var(--primary-color);
    margin-bottom: 1rem;
}

.circle_wrapper{
    width:310px; 
    height: 310px; 
    border: 5px solid var(--secondary-color); 
    border-radius: 50%;     
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-color); 
}
.main-image {
    width: 300px;
    height: 300px;
    background-image: url(couple.jpg);
    background-size: cover;
    display:flex;
    align-items: center;
    background-position: top;
    clip-path: circle(50% at 50% 50%);
}
#aboutUs{
    margin: 3em 10%;
    text-align: center;
    border-top: 2px solid var(--primary-color);
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 2px solid var(--primary-color);
}
#listHead{
    margin: 30px 0 1em 0;
}

.fullbleed-list {
list-style-type: none;
background-size: cover;
background-position: center;
overflow: hidden;
margin: 0;
display: flex;
gap: 1.25rem;
justify-content: center;
padding:10px 10px 10px 10px;
}
.fullbleed-list > li {
    padding: 0; 
    text-align: center;
    min-height: 80vh; 
    border-top: 8px solid rgba(160, 39, 39, 100%);
    border-bottom: 8px solid rgba(160, 39, 39, 100%);
    border-radius: 16px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: last baseline;
    justify-content: center;
}
.fullbleed-list > li:hover {
    border: none;
}
.fullbleed-list > li:nth-child(1) {
    background-image: url(landscapeDesign.jpg);
}
.fullbleed-list > li:nth-child(2) {
    background-image: url(landscapeMaintenance.jpg);
}
.fullbleed-list > li:nth-child(3) {
    background-image: url(plantingAndMulching.jpg);
}
.fullbleed-list > li:nth-child(4) {
    background-image: url(hardscaping.jpg);
}
.fullbleed-list > li:nth-child(5) {
    background-image: url(irrigationSystems.jpg);
}
.fullbleed-list > li:nth-child(6) {
    background-image: url(treeCare.jpg);
}
#listHead{
    text-align: center;
}
#footerContainer{
    display:flex;
    flex-direction: column;
}
#image-fluid{
    width: 10 ;
}
.construction{
    text-align: center;
    height: 100vh;
    padding-top: 3%;
}