:root{
    --primary-color: #3498db;
    --secondary-color: #a52e19;
    --background-color: #d0ddcc;
    --text-color: #353535;
    --font-family: 'Arial', sans-serif;
    --text-align: center;
}