@import './config.css';


@media (min-width:992px){
    .navbarexpand-lg .navbar-nav .dropdown-menu {
        position: absolute;
    }
}
* , ::before, ::after {
    margin:  0 .1rem 0 .1rem;
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: var(--font-family);
    text-align:var(--text-align);
    box-sizing: border-box;

}

#welcomeHeader{
    text-align: center;

    margin: 40px 0 10px 0;
}
.container{
    justify-content: left;
    display:flex;
    background-color: black

}
.navbar-brand, .navbar-brand>img{
    display: inline-block;
    margin-right:1rem;
    line-height: inherit;
    white-space: nowrap;
    padding-top: .5rem;
    background-color: inherit;
}
.navbar-nav, .nav-link, .nav-link>a, .nav-item.active, .nav-item.active>a, .navbar-brand>img, .navbar-brand{
    background-color: black;
    color: white;
}
.navbar-nav{
    display: flex;
    justify-content: left;
    padding: 10px 0;
}
.nav-link {
    display: block;
    padding: .5rem 1rem;
}
.nav-link > a{
    text-decoration: none;
}
.nav-item.active{
    display: block;
    padding: .5rem 1rem;
}
.nav-item.active > a{
    text-decoration: none;
}
.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.circle_wrapper{
    width:310px; /* image size + border*2 */
    height: 310px; /* image size + border*2 */
    border: 5px solid var(--secondary-color); /* The border */
    border-radius: 50%;      /* Makes wrapper circular */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-color); /* Optional background behind image */
}
.main-image {
    width: 300px;
    height: 300px;
    background-image: url(couple.jpg);
    background-size: cover;
    display:flex;
    align-items: center;
    background-position: top;
    clip-path: circle(50% at 50% 50%);
}
#aboutUs{
    margin: 20px 10%;
    text-align: center;
    border-top: 2px solid var(--secondary-color);
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 2px solid var(--secondary-color);
}
#listHead{
    margin: 30px 0 10px 0;
}

.fullbleed-list {
list-style-type: none;
margin: 0;
padding:0px 0 0 0;
}
.fullbleed-list > li {
    margin: 0 0 0 0;
    padding-top: 300px;
    text-align: center;
    padding-bottom: 100px;
    border-top:8px solid rgba(160, 39, 39, 100%);
}
.fullbleed-list > li:nth-child(1) {
    background-image: url(landscapeDesign.jpg);
    background-size: cover;
}
.fullbleed-list > li:nth-child(2) {
    background-image: url(landscapeMaintenance.jpg);
    background-size: cover;
}
.fullbleed-list > li:nth-child(3) {
    background-image: url(plantingAndMulching.jpg);
    background-size: cover;
}
.fullbleed-list > li:nth-child(4) {
    background-image: url(hardscaping.jpg);
    background-size: cover;
}
.fullbleed-list > li:nth-child(5) {
    background-image: url(irrigationSystems.jpg);
    background-size: cover;
}
.fullbleed-list > li:nth-child(6) {
    background-image: url(treeCare.jpg);
    background-size: cover;

}
#listHead{
    text-align: center;
}
